
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="<%=user_data.user_image%>" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%=user_data.fullname; %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        
        <li><a href="/admin"><i class="fa fa-circle-o text-red"></i> <span>Dashboard</span></a></li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>User </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/admin/user"><i class="fa fa-circle-o"></i>All User</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Add user</a></li>
          </ul>
        </li>
      
      
    
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

 