<%-include('../header') %> 
<%-include('../sidebar') %> 
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">User profile</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">
 <% if (locals.flashmessages) { %>
    <div class="alert alert-<%=flashmessages.alert_type%> alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%=flashmessages.alert_msg%>
    </div>
    <% } %>
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="<%=user.user_image; %>" alt="User profile picture">
              <h3 class="profile-username text-center"><%=user.fullname; %></h3>
            </div>
          </div>  
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="alert alert-success" id="success_alert" style="display: none;">
  <strong>Success!</strong>
</div>

          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Update Profile</a></li>
              <li><a href="#settings" data-toggle="tab">Change Password</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <form class="form-horizontal" encType="multipart/form-data" method="post" action="/admin/user/update_profile">
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="text" value="<%=user.fullname; %>" name="fullname" class="form-control" id="name" placeholder="Enter name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" disabled value="<%=user.email; %>" name="new_password" class="form-control" id="inputEmail" placeholder="Enter Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Phone</label>

                    <div class="col-sm-10">
                      <input type="number" value="<%=user.phone; %>" name="phone" class="form-control" id="inputEmail" placeholder="Enter Phone number">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">Street address</label>

                    <div class="col-sm-10">
                      <textarea name="address"  class="form-control" rows="5" id="comment"><%=user.address; %></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">City</label>

                    <div class="col-sm-10">
                      <input type="text" value="<%=user.city; %>" name="city" class="form-control" id="inputEmail" placeholder="Enter City name">
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">State</label>

                    <div class="col-sm-10">
                      <input type="text" value="<%=user.state; %>" name="state" class="form-control" id="inputEmail" placeholder="Enter state name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">Country</label>

                    <div class="col-sm-10">
                      <input type="text" value="<%=user.country; %>" name="country" class="form-control" id="inputEmail" placeholder="Enter country name">
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="profile" class="col-sm-2 control-label">Profile</label>

                    <div class="col-sm-10">
                   <input type="file" name="profile"  class="form-control" id="profile" placeholder="Profile">
                    </div>
                  </div>              
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <input type="hidden" id="user_id" name="user_id" value="<%=user._id; %>">
                      <button type="submit" id="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              

              <div class="tab-pane" id="settings">
                <form class="form-horizontal" name="registration"  id="update_password" method="post" action="">
                  <div class="form-group">
                    <label for="inputName" required class="col-sm-2 control-label">Old password</label>

                    <div class="col-sm-10">
                      <input type="password" name="old_password" class="form-control" id="old_password" placeholder="Old password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputNewpassword" required class="col-sm-2 control-label">New Password</label>

                    <div class="col-sm-10">
                      <input type="password" id="new_password"  name="new_password" class="form-control" placeholder="New password">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                       <input type="hidden" id="user_id" name="user_id" value="<%=user._id; %>">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <%-include('../footer') %> 